{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "endOfLine": "auto",
    "printWidth": 100,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "all",
    "semi": false,
    "overrides": [
        {
            "files": "*.sol",
            "options": {
                "tabWidth": 4,
                "semi": true
            }
        }
    ]
}
